.portfolio {
    margin: 3rem;
    text-align: center;
    justify-content: center;
    display: flex;
    animation: fadeIn;
    animation-duration: 2.25s;
}

.portfolio h1 {
    margin-bottom: 3rem;
}